text {
    font-family: arial;
    font-size: 10px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 150%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}

.dot {
    fill: #000000;
    stroke: #fff;
}

path.line1 {
    fill: none;
    stroke: lightgrey;
    stroke-width: 3px;
}

path.line2 {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}	

/* Header styles */

#infoDiv{
	height:650px;
}
#container{
	width:1250px;
	height:700px;
}

#headerDiv{
	height: 100px;
	display:block;
}

#logoDiv{
	width: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#helpDiv{
	margin-top: 10px;
	display: block;
	float: right;
}

#helpButton{
	float: right;
}

#leftInfoDiv{
	width: 880px;
	display: block;
	height: 650px;
}



/* Map styles */

#MapDiv {
	position: absolute;
	width:100%;
	height:500px;
	display: block;
	padding-right: 10px
}

line[id ^="line"]{
	opacity: 1;
}


.tooltip_bg{
  fill: white;
  stroke: black;
  stroke-width: 1;
  opacity: 0.85;
}

.tooltip{
	font-size: 22px;
	opacity: 1;
}

#overview{
	display: block;
	width: 880px;
	height: 500px;
}	
	
#EinAussteiger{
	display: block;
	width: 150px;
	height:50px;
	float: left;
	margin-top:20px;
}

#Einsteiger,#Aussteiger{
	height:25px;
}

#zoomView{
	display: block;
	width:150px;
	overflow:auto;
	float: right;
	border-style: none;
	border-width: 0.5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right:10px;
	padding-top: 4px;
	font-size: 10px;
	text-align: center;
}

/* Timeline styles */

#varianzAndTimestep{
	width: 150px;
	height:120px;
	float: left;
	display: inline-block;
}	

/* Varianz */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  top: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Timesteps */
#Timesteps {
	margin-top: 10px;
}

.radiobutton {
	height: 20px;
}

.radiobuttonlabel {
	margin-left: 5px;
}

#bottomInfoDiv{
	display: block;
	height: 120px;
	width: 1080px;
}	

#Timeline{
	width: 100%;
	height: 145px;
	float: left;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	display:block;
}
#Timeline > svg {
	width: 100%;
}

/* Detail styles */

#rightInfoDiv{
	display:block;
	float: right;
	width: 250px;
	margin-right: 0px;
	height: 600px;
}

#view3{
	height:200px;
	width:350px;
	float:right;
	margin-bottom: 10px;
	padding-left: 5px;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	display: block;
}

#view4{
	height:200px;
	width:350px;
	float:right;
	padding-left: 5px;
	margin-bottom: 10px;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	display: block;
}

#view5{
	height:200px;
	width:350px;
	float:right;
	padding-left: 5px;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	display:block;
}

/* View 4 */

#heatmap{
	font-size: 6px;
}


.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
.bar rect:hover {
  fill: blue;
}

.bar rect {
    fill: black;
  }
  
