.popover-title{
	background-color: #74a3c9;
	color: #ffffff;
}

.btn-default{
	background-color: lightsteelblue;
}

.popover{
	background-color: #f6fafff2;
}

.popover.right>.arrow:after{
	border-right-color: #f6fafff2;
}


text {
    font-family: arial;
    font-size: 10px;
}

.svg-container-view3 {
    position: relative;
    vertical-align: top;
	padding-bottom: 100%;
	width: 100%;
	transform: scale(0.75);
	bottom: 50px;
    overflow: visible;
}


.svg-container-view5 {
    position: relative;
	width: 100%;
	transform: scale(0.9);
    vertical-align: top;
    overflow: visible;
}


.svg-content-responsive-view3 {
    display: inline-block;
    position: absolute;
	left: -35px;
	overflow: visible;
}

.svg-content-responsive-view5 {
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 5px;
	overflow: visible;
}

.area{
  shape-rendering: geometricPrecision;
  fill: #ccc !important;
}

.boxplot{
  shape-rendering: crispEdges;
  fill: none;
  stroke: black;
  stroke-width: 2.5px;
}


.boxplot.fill{
  fill: black;
}
.boxplot.mean, .boxplot.median{
  fill: white;
  stroke: white;
}
.boxplot.mean{
  shape-rendering: geometricPrecision;
}
.violin{
  shape-rendering: geometricPrecision;
  fill: none !important;
  stroke: #777;
  stroke-width: 1px;
}

.domain {
	stroke-width: 2px;
	stroke: black;
}

.dot {
    fill: #000000;
    stroke: #fff;
}

path.line2 {
    fill: none;
    stroke: grey;
    stroke-width: 2px;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  color-rendering: optimizeQuality !important;
  shape-rendering: crispEdges !important;
  text-rendering: geometricPrecision !important; 

}

/* Header styles */

#infoDiv{
	height:650px;
}
#container{
	width: 1460px;
	height:100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
    margin-left: 40px;
}

#headerDiv{
	height: 100px;
	display:block;
}

#logoDiv{
	width: 40px;
	display: block;
	margin-right: auto;
	float: left;
	margin-top: -10px;
}

#helpDiv{
	margin-top: 10px;
	display: block;
	float: right;
}

#helpButton{
	float: right;
}

#leftInfoDiv{
	width: 880px;
	display: block;
	height: 650px;
	float:left;
}



/* Map styles */

#MapDiv {
	position: absolute;
	width:906px;
	height:500px;
	display: block;
	padding-right: 10px;
	margin-left: 46px;
	margin-top: -7px;
}

line[id ^="line"]{
	opacity: 1;
}


.tooltip_bg{
  fill: white;
  stroke: black;
  stroke-width: 1;
  opacity: 0.85;
}

.tooltip{
	font-size: 22px;
	opacity: 1;
}

#overview{
	display: block;
	width: 1028px;
	height: 565px;
	float:left;
}	
	
#EinAussteiger{
	display: block;
	width: 100px;
	height:50px;
	float: left;
	margin-top:10px;
}

#Einsteiger,#Aussteiger, #Mittelwert{
	height:25px;
	margin-top: 2px;
    padding-top: 2px;
}

#Einsteiger{
    background-color: steelblue;
}

#Aussteiger{
    background-color: lightsteelblue;
}
#Mittelwert {
	background-color: #00335e;
	color: white;
}

#zoomView{
	margin-top: 20px;
	display: block;
	width:160px;
	overflow:hidden;
	float: right;
	border-style: none;
	border-width: 0.5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right:10px;
	padding-top: 4px;
	font-size: 10px;
	text-align: center;
}

/* Timeline styles */

#varianzAndTimestep{
	width: 100px;
	height:120px;
	float: left;
	display: inline-block;
}	

#Varianz{
 margin-top:8px;	
}

/* Varianz */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  top: 4px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffc167;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffc167;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Timesteps */
#Timesteps {
	margin-top: 10px;
	margin-left: 10px;
	}

.radiobutton {
	height: 20px;
	
}

.radiobuttonlabel {
	margin-left: 5px;
}

#bottomInfoDiv{
	display: block;
    height: 142px;
    width: 1054px;
    float: left;
    margin-top: -75px;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	background-color: #F0F8FF;
}	

#Timeline{
	width: 830px;
    margin-top: 2px;
    height: 138px;
	float: left;
	display:block;
	margin-left: 10px;
}
#Timeline > svg {
	width: 100%;
}

/* Detail styles */

#rightInfoDiv{
	display:block;
	float: right;
	width: 250px;
	margin-right: 28px;
	height: 600px;
    margin-top: 18px;
}

#view3{
	height:218px;
	width:360px;
	float:right;
	margin-bottom: 14px;
	padding-left: 5px;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	background-color: whitesmoke;
	display: block;
	position: relative;
	text-align: center;
    padding-top: 5px;
	stroke-width: 2px;
}

#view4{
	height:218px;
	width:360px;
	float:right;
	padding-left: 5px;
	margin-bottom: 14px;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	background-color: whitesmoke;
	display: block;
	position: relative;
	text-align: center;
    padding-top: 5px;
}

#view5{
	height:218px;
	width:360px;
	float:right;
	padding-left: 5px;
	border-style: groove;
    border-color: black;
	border-width: 0.5px;
	background-color: whitesmoke;
	display:block;
	position: relative;
	text-align: center;
    padding-top: 5px;
}

#view5Diagram, #view3Diagram{
	height:200px;
	width:360px;
	position: absolute;
}

#labelView3, #labelView4, #labelView5{
	font-size: 12px;
	font-weight: bold;
}

/* View 4 */

#heatmap{
	font-size: 6px;
	height:200px;
	width:360px;
	position: absolute;
}


.toolTipJanis {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
.barhover rect:hover {
  fill: grey;
}

.highlightBarChart {
	fill: grey;
}
  
button#help {
    position: absolute;
    display: block;
    margin-top: -75px;
    margin-left: 10px;
}
